

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-3">
  <div class="container-fluid">
    <h2 class="navbar-brand"  >AUTOMEHANIČARSKA RADIONICA</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/offerslist">Početna</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/vehicle">Dodaj vozilo</a></li>

            <li><a class="dropdown-item" href="/vehiclelist">Sva vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_typelist">Sve vrste vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_type">Dodaj vrstu vozila</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Narudžba
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/order">Dodaj narudžbu</a></li>

            <li><a class="dropdown-item" href="/orderlist">Sve narudžbe</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usluge
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/service">Dodaj uslugu</a></li>

            <li><a class="dropdown-item" href="/servicelist">Sve usluge</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Material
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/material">Dodaj materijal</a></li>

            <li><a class="dropdown-item" href="/materiallist">Svi materijali</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Korisnikovo vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/uservehicle">Dodaj korisnikovo vozilo</a></li>

            <li><a class="dropdown-item" href="/uservehiclelist">Sva korisnkova vozila</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ponude
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/offerslist">Sve ponude</a></li>
            <li><a class="dropdown-item" href="/offers">Nova ponuda</a></li>
          </ul>
        </li>
        <li class="nav-item flare">
          <button mat-raised-button color="dark" (click)="logout()">Odjavi se</button>
    </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container my-5">
      <h1 class="mb-3">Dodaj novu narudžbu</h1>
    
    
     <form
     form #form="ngForm"
      (ngSubmit)="addOrder()">
          
        
        <div class="form-group">
          <label for="date">Datum </label>
          <input type="date" class="form-control" id="date" aria-describedby="emailHelp" placeholder="Unesi datum narudžbe" 
          required name=date [(ngModel)]="addOrderRequest.date" #date="ngModel">   
          <div *ngIf="date.invalid && (date.dirty || date.touched)"
         >
      
        <div *ngIf="date.errors?.['required']" class="alert alert-primary" role="alert">
          Unos datuma narudžbe je <strong>obavezan</strong>.
        </div>
        </div> 
  
      </div> 

        <div class="form-group">
          <label for="model">Količina materijala</label>
          <input type="text" class="form-control" id="quantity" aria-describedby="emailHelp" placeholder="Unesi količinu materijala" 
          required name=quantity [(ngModel)]="addOrderRequest.quantity" #quantity="ngModel"  maxlength="6"  pattern="[0-9]*">   
          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
         >
      
        <div *ngIf="quantity.errors?.['required']" class="alert alert-primary" role="alert">
          Unos količine materijala je <strong>obavezna</strong>.
        </div>
        <div *ngIf="quantity.errors?.['pattern']" class="alert alert-primary" role="alert">
          Možete unijeti samo<strong>brojeve</strong>.
        </div>
        </div> 
      </div> 

        <div class="form-group">
          <label for="materialid">Materijal</label>
          <input type="text" class="form-control" name="materialid"  [(ngModel)]="addOrderRequest.materialid" *ngIf="addOrderRequest.materialid!=''" >
          <select class="form-control" name="materialid" id="materialid" [(ngModel)]="addOrderRequest.materialid" *ngIf="addOrderRequest.materialid==''">
            <option *ngFor="let type of MaterialId$|async" [value]="type.id">{{type.name}}</option>
          </select>
          
        </div>
        <div class="form-group">
            <label for="materialid">Narudžba</label>
            <input type="text" class="form-control" name="order_statusid"  [(ngModel)]="addOrderRequest.order_statusid" *ngIf="addOrderRequest.order_statusid!=''" >
            <select class="form-control" name="order_statusid" id="order_statusid" [(ngModel)]="addOrderRequest.order_statusid" *ngIf="addOrderRequest.order_statusid==''">
              <option *ngFor="let type of Order_StatusId$|async" [value]="type.id">{{type.status}}</option>
            </select>
        </div>

          <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Spremi</button>
    
      </form>
</div>