
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-3">
  <div class="container-fluid">
    <h2 class="navbar-brand"  >AUTOMEHANIČARSKA RADIONICA</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/offerslist">Početna</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/vehicle">Dodaj vozilo</a></li>

            <li><a class="dropdown-item" href="/vehiclelist">Sva vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_typelist">Sve vrste vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_type">Dodaj vrstu vozila</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Narudžba
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/order">Dodaj narudžbu</a></li>

            <li><a class="dropdown-item" href="/orderlist">Sve narudžbe</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usluge
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/service">Dodaj uslugu</a></li>

            <li><a class="dropdown-item" href="/servicelist">Sve usluge</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Material
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/material">Dodaj materijal</a></li>

            <li><a class="dropdown-item" href="/materiallist">Svi materijali</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Korisnikovo vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/uservehicle">Dodaj korisnikovo vozilo</a></li>

            <li><a class="dropdown-item" href="/uservehiclelist">Sva korisnkova vozila</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ponude
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/offerslist">Sve ponude</a></li>
            <li><a class="dropdown-item" href="/offers">Nova ponuda</a></li>
          </ul>
        </li>
        <li class="nav-item flare">
          <button mat-raised-button color="dark" (click)="logout()">Odjavi se</button>
    </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container my-5">
    <h1 class="mb-3">Uredi podatke o klijentu</h1>
  
  
   <form
   form #form="ngForm"
    (ngSubmit)="updateVehicle_Type(addClientRequest.id)">
        
   
    <div class="form-group mt-3">
      <label for="firstlastname">Ime i prezime klijenta</label>
      <input type="text" class="form-control" id="firstlastname" aria-describedby="emailHelp" placeholder="Unesi ime i prezime klijenta" 
      required name=firstlastname [(ngModel)]="addClientRequest.firstlastname" #firstlastname="ngModel" pattern="^[a-zA-Z0-9 ]+$" maxlength="30">   
      <div *ngIf="firstlastname.invalid && (firstlastname.dirty || firstlastname.touched)"
     >
  
    <div *ngIf="firstlastname.errors?.['required']" class="alert alert-primary" role="alert">
      Unos imena i prezimena klijenta je <strong>obavezan</strong>.
    </div>
    <div *ngIf="firstlastname.errors?.['pattern']" class="alert alert-primary" role="alert">
     Možete unijeti samo <strong>slova</strong>.
    </div>

    </div> 
  </div> 
    <div class="form-group mt-3">
      <label for="phonenumber">Broj telefona klijenta</label>
      <input type="text" class="form-control" id="phonenumber" aria-describedby="emailHelp" placeholder="Unesi broj telefona klijenta" 
      required name=phonenumber [(ngModel)]="addClientRequest.phonenumber" #phonenumber="ngModel" pattern="[0-9+\s]+" maxlength="20">   
      <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)"
     >
  
    <div *ngIf="phonenumber.errors?.['required']" class="alert alert-primary" role="alert">
      Unos broja telefona klijenta je <strong>obavezan</strong>.
    </div>
    <div *ngIf="phonenumber.errors?.['pattern']" class="alert alert-primary" role="alert">
      Možete unijeti samo <strong>brojeve</strong>.
    </div>
    </div> 
  </div> 

     <div class="form-group mt-3">
      <label for="adress">Adresa klijenta</label>
      <input type="text" class="form-control" id="adress" aria-describedby="emailHelp" placeholder="Unesi adresu klijenta" 
      required name=adress [(ngModel)]="addClientRequest.adress" #adress="ngModel" maxlength="40">   
      <div *ngIf="adress.invalid && (adress.dirty || adress.touched)"
     >
  
    <div *ngIf="adress.errors?.['required']" class="alert alert-primary" role="alert">
      Unos adrese klijenta je <strong>obavezan</strong>.
    </div>
    
    </div>  
  </div>  

    <div class="form-group mt-3">
      <label for="email">Email klijenta</label>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Unesi email klijenta" 
      required name=email [(ngModel)]="addClientRequest.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="40">   
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
     >
  
    <div *ngIf="email.errors?.['required']" class="alert alert-primary" role="alert">
      Unos emaila klijenta je <strong>obavezan</strong>.
    </div>
    
    <div *ngIf="email.errors?.['pattern']" class="alert alert-primary" role="alert">
     Unesite ispravan <strong>format e-maila</strong>.
    </div>

    </div> 
  </div> 
   
      
  
    <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Spremi</button>


</form>
</div>