
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-3">
  <div class="container-fluid">
    <h2 class="navbar-brand"  >AUTOMEHANIČARSKA RADIONICA</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/offerslist">Početna</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/vehicle">Dodaj vozilo</a></li>

            <li><a class="dropdown-item" href="/vehiclelist">Sva vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_typelist">Sve vrste vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_type">Dodaj vrstu vozila</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Narudžba
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/order">Dodaj narudžbu</a></li>

            <li><a class="dropdown-item" href="/orderlist">Sve narudžbe</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usluge
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/service">Dodaj uslugu</a></li>

            <li><a class="dropdown-item" href="/servicelist">Sve usluge</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Material
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/material">Dodaj materijal</a></li>

            <li><a class="dropdown-item" href="/materiallist">Svi materijali</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Korisnikovo vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/uservehicle">Dodaj korisnikovo vozilo</a></li>

            <li><a class="dropdown-item" href="/uservehiclelist">Sva korisnkova vozila</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ponude
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/offerslist">Sve ponude</a></li>
            <li><a class="dropdown-item" href="/offers">Nova ponuda</a></li>
          </ul>
        </li>
        <li class="nav-item flare">
          <button mat-raised-button color="dark" (click)="logout()">Odjavi se</button>
    </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container my-5">
    <h1 class="mb-3">Dodaj novu ponudu</h1>
  
  
   <form
    #form="ngForm"
    (ngSubmit)="addMaterial()">
        
      
      <div class="form-group mt-3">
        <label for="name">Naziv materijala</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Unesi naziv materijala" 
        required name=name [(ngModel)]="addMaterialRequest.name" #name="ngModel" pattern="^[a-zA-Z0-9 ]+$" maxlength="30">   
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
       >
    
      <div *ngIf="name.errors?.['required']" class="alert alert-primary" role="alert">
        Unos naziva materijala je <strong>obavezan</strong>.
      </div>
      <div *ngIf="name.errors?.['pattern']" class="alert alert-primary" role="alert">
       Možete unijeti samo slova <strong>obavezan</strong>.
      </div>
    </div> 

      </div> 
      <div class="form-group mt-3">
        <label for="instockquantity">Količina materijala na lageru</label>
        <input type="text" class="form-control" id="instockquantity" aria-describedby="emailHelp" placeholder="Unesi količinu materijala na lageru" 
        required name=instockquantity [(ngModel)]="addMaterialRequest.instockquantity" #instockquantity="ngModel" maxlength="6"  pattern="[0-9]*">   
        <div *ngIf="instockquantity.invalid && (instockquantity.dirty || instockquantity.touched)"
       >
    
      <div *ngIf="instockquantity.errors?.['required']" class="alert alert-primary" role="alert">
        Unos količine na lageru je <strong>obavezan</strong>.
      </div>
      <div *ngIf="instockquantity.errors?.['pattern']" class="alert alert-primary" role="alert">
       Možete unijeti samo <strong>brojeve</strong>.
      </div>
    </div> 

      </div> 
      <div class="form-group mt-3">
        <label for="price">Cijena materijala</label>
        <input type="text" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Unesi cijenu materijala" 
        required name=price [(ngModel)]="addMaterialRequest.price" #price="ngModel" maxlength="9"  pattern="[0-9.]*">   
        <div *ngIf="price.invalid && (price.dirty || price.touched)"
       >
    
      <div *ngIf="price.errors?.['required']" class="alert alert-primary" role="alert">
       Unos cijene materijala je <strong>obavezan</strong>.
      </div>
      <div *ngIf="price.errors?.['pattern']" class="alert alert-primary" role="alert">
       Možete unijeti samo <strong>brojeve</strong>.
       </div>
      </div> 

      </div> 
      <div class="form-group mt-3">
        <label for="description">Opis materijala</label>
        <input type="text" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Unesi opis materijala "
         name=description [(ngModel)]="addMaterialRequest.description" #description="ngModel" maxlength="200">   
       


      </div> 
     
        
    
      <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Spremi</button>
  
    </form>
  
  </div>