
<div class="container my-5">
    <h1 class="mb-3">Ažuriraj uslugu na ponudi</h1>
  
  
   <form
   form #form="ngForm"
    (ngSubmit)=" updateService_Offer(addService_OfferRequest.id)">
        
      
    <div class="form-group">
      <label for="offerid">Ponuda</label>
      <select class="form-control" name="offerid" id="offerid" [(ngModel)]="addService_OfferRequest.offerid" *ngIf="addService_OfferRequest.offerid!=''">
        <option *ngFor="let type of Offer$|async" [value]="type.id">{{type.id}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="serviceid">Ponuda</label>
      <select class="form-control" name="serviceid" id="serviceid" [(ngModel)]="addService_OfferRequest.serviceid" *ngIf="addService_OfferRequest.serviceid!=''">
        <option *ngFor="let type of Service$|async" [value]="type.id">{{type.id}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Količina</label>
      <input type="text" class="form-control" id="quantity" aria-describedby="emailHelp" placeholder="Unesi količinu" 
      required name=quantity [(ngModel)]="addService_OfferRequest.quantity" #quantity="ngModel">   
     

    <div class="form-group">
      <label for="discount">Popust</label>
      <input type="text" class="form-control" id="discount" aria-describedby="emailHelp" placeholder="Unesi opis" 
       name=discount [(ngModel)]="addService_OfferRequest.discount" >   
     </div>
   
      
  
     <button type="submit" class="btn btn-primary" >Spremi</button>



</div>