
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-3">
  <div class="container-fluid">
    <h2 class="navbar-brand"  >AUTOMEHANIČARSKA RADIONICA</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/offerslist">Početna</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/vehicle">Dodaj vozilo</a></li>

            <li><a class="dropdown-item" href="/vehiclelist">Sva vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_typelist">Sve vrste vozila</a></li>
            <li><a class="dropdown-item" href="/vehicle_type">Dodaj vrstu vozila</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Narudžba
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/order">Dodaj narudžbu</a></li>

            <li><a class="dropdown-item" href="/orderlist">Sve narudžbe</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usluge
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/service">Dodaj uslugu</a></li>

            <li><a class="dropdown-item" href="/servicelist">Sve usluge</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Material
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/material">Dodaj materijal</a></li>

            <li><a class="dropdown-item" href="/materiallist">Svi materijali</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Korisnikovo vozilo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/uservehicle">Dodaj korisnikovo vozilo</a></li>

            <li><a class="dropdown-item" href="/uservehiclelist">Sva korisnkova vozila</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ponude
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/offerslist">Sve ponude</a></li>
            <li><a class="dropdown-item" href="/offers">Nova ponuda</a></li>
          </ul>
        </li>
        <li class="nav-item flare">
          <button mat-raised-button color="dark" (click)="logout()">Odjavi se</button>
    </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container my-5">
  <h1 class="mb-3">Dodaj novo vozilo</h1>


  <form
   #form="ngForm"
  (ngSubmit)="updateVehicle(VehicleDetalils.vehicleId)">
      
    
    <div class="form-group mt-3">
      <label for="manufacturer">Proizvođač</label>
      <input type="text" class="form-control" id="manufacturer" aria-describedby="emailHelp" placeholder="Unesi proizvođača" 
      required name=price [(ngModel)]="VehicleDetalils.manufacturer" #manufacturer="ngModel" pattern="^[a-zA-Z0-9 ]+$" maxlength="30">   
      <div *ngIf="manufacturer.invalid && (manufacturer.dirty || manufacturer.touched)"
     >
  
    <div *ngIf="manufacturer.errors?.['required']" class="alert alert-primary" role="alert">
      Unos proizvođača je <strong>obavezan</strong>.
    </div>
    <div *ngIf="manufacturer.errors?.['pattern']" class="alert alert-primary" role="alert">
      Možete unijeti samo <strong>slova</strong>.
     </div>
    </div> 
  </div> 
   
    <div class="form-group mt-3">
      <label for="model">Model vozila</label>
      <input type="text" class="form-control" id="model" aria-describedby="emailHelp" placeholder="Unesi model vozila" 
      required name=model [(ngModel)]="VehicleDetalils.model" #model="ngModel" pattern="^[a-zA-Z0-9 ]+$" maxlength="30">   
      <div *ngIf="model.invalid && (model.dirty || model.touched)"
     >
  
    <div *ngIf="manufacturer.errors?.['required']" class="alert alert-primary" role="alert">
      Unos modela vozila je <strong>obavezan</strong>.
    </div>
    <div *ngIf="manufacturer.errors?.['pattern']" class="alert alert-primary" role="alert">
     Možete unijeti samo <strong>slova i brojeve</strong>.
    </div>
    </div> 
  </div> 
   
    <div class="form-group mt-3">
      <label for="productionYear">Godina proizvodnje</label>
      <input type="text" class="form-control" id="productionYear" aria-describedby="emailHelp" placeholder="Unesi godinu proizvodnje" 
      required name=productionYear [(ngModel)]="VehicleDetalils.productionYear" #productionYear="ngModel" pattern="[0-9]*" maxlength="6">   
      <div *ngIf="productionYear.invalid && (productionYear.dirty || productionYear.touched) "
     >
  
    <div *ngIf="productionYear.errors?.['required']" class="alert alert-primary" role="alert">
      Unos godine proizvodnje je <strong>obavezan</strong>.
    </div>
    <div *ngIf="productionYear.errors?.['required']" class="alert alert-primary" role="alert">
     Možete unijeti samo <strong>brojeve</strong>.
    </div>
    
    </div> 
          </div> 
    <div class="form-group mt-3">
      <label for="kilometersTraveled">Broj prijeđenih kilometara</label>
      <input type="text" class="form-control" id="kilometersTraveled" aria-describedby="emailHelp" placeholder="Unesi broj prijeđenih kilometara" 
      required name=kilometersTraveled [(ngModel)]="VehicleDetalils.kilometersTraveled" #kilometersTraveled="ngModel" maxlength="6"  pattern="[0-9]*">   
      <div *ngIf="kilometersTraveled.invalid && (kilometersTraveled.dirty || kilometersTraveled.touched)"
     >
  
    <div *ngIf="kilometersTraveled.errors?.['required']" class="alert alert-primary" role="alert">
      Unos broja prijeđenih kilometara je <strong>obavezan</strong>.
    </div>
    <div *ngIf="kilometersTraveled.errors?.['pattern']" class="alert alert-primary" role="alert">
      Možete unijeti samo <strong>brojeve</strong>.
    </div>
    </div> 
  </div> 
      <div class="form-group">
        <label for="vehicle_typeFK">Vrsta vozila</label>
        <select class="form-control" name="vehicle_typeFK" id="vehicle_typeFK" [(ngModel)]="VehicleDetalils.vehicle_typeFK" *ngIf="VehicleDetalils.vehicle_typeFK!=''">
          <option *ngFor="let type of Vehicle_TypeId$|async" [value]="type.vehicle_typeId">{{type.vehicle_typeName}}</option>
        </select>
        
      </div>
      <div class="form-group">
        <label for="clientFK">Klijent</label>
        <select class="form-control" name="clientFK" id="clientFK" [(ngModel)]="VehicleDetalils.clientFK" *ngIf="VehicleDetalils.clientFK!=''">
          <option *ngFor="let type of ClientId$|async" [value]="type.clientId">{{type.firstLastName}}</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="!form.valid">Spremi</button>
  
    </form>
  </div>